.SignUpForm {
    line-height: 1.5;
    width: 100%;
    overflow: auto;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
    .heading {
        display: flex;
        gap: 5rem;
        margin-bottom: 20px;
    }
    .form_content {
        margin-left: 30%;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        max-width: 400px;
        color: #cccccc;
        text-align: center;
        padding-bottom: 100px;
        background-color: transparent;


        p {
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: left;
        }
    }

    a {
        color: #039be5;
    }

}
