body{
    overflow-x: hidden;
}
.header{
    position: relative;
    z-index: 1000;
}
.container{
  padding-top: 50px;
  padding-bottom: 20px;
  .button{
     background: #292929;
     padding: 0 12px;
     min-height: 45px;
     line-height: 45px;
     position: fixed;
     z-index:1;
     margin-left: -80px;
     margin-top: -50px;
   }
}