@import '../../../Styles/_variables.scss';

.lecturers-root {
    height: 350px; //45vh
    max-width: 100%;

    .lp-names-list-header {
        font-size: 32.25px;
        line-height: 1.094;
        margin: 30.5px 0px 24.4px 0px;
        font-weight: 400;
        color: $white;
        font-family: $fontFamilyBlack;
    }

    .lecturers-description {
        font-size: 15px;
        line-height: 1.5;
        font-weight: 400;
        color: $white;
        font-family: $fontFamilyBlack;
        margin: 15px 0px;
    }
}