@import "../../../Styles/variables";

.library_search_container {
    display: flex;
    background: $lxsGrey11;
    padding-top: 40px;
    font-family: $fontFamilyBlack;
    box-shadow: 0 1px 1px $lxsGrey11;

    .library_search_dropdown {
        width: 200px;
        height: 28px;
        background-color: $lxslibselectbackground;
        padding: 0 5px;
        outline: none;
        border: 1px solid $lxslibborderselect;
        border-radius: 2px;
    }
}