@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$grey1 : #131313;
$grey2 : #292929;
$grey3 : #686868;
$grey4 : #cccccc;
$grey5 : #e0e0e0;
$grey6 : #ECECEC;
$grey7 : #eaeaea;
$grey8 : #f4f4f4;
$grey9 : #878787;
$grey10 : #919191;
$grey11: #9e9e9e;
$grey12: #5a5a5a;
$black : #000000;
$black1: #212121cc;
$lxsheaderbackgroundhover: #0000001a;
$white : #ffffff;
$white2: #f0f0f0;
$purple : #8365AA;
$purple2 : #8877AA;
$blue : #409fb5;
$blue2: #26a69a;
$yellow : #988359;
$orange : #9f7268;
$red : #ff356e;
$lxsGrey1 : #f4f4f4;
$lxsGrey2 : #eaeaea;
$lxsGrey3 : #e0e0e0;
$lxsGrey4 : #cccccc;
$lxsGrey5 : #686868;
$lxsGrey6 : #878787;
$lxsGrey7 : #212121;
$lxsGrey8 : #403F3F;
$lxsGrey9 : #454545;
$lxsGrey10 : #969696;
$lxsGrey11 : #333333;
$lxsGrey12 : #464547;
$lxsGrey13 : #7d7d7d;
$lxsGrey14: #bebdc2;
$lxsPurple1 : #8B77AA;
$lxsPurple2 : #8365AA;
$lxsBlue1 : #5c9ac4;
$lxsBlue2 : #4086c1;
$lxsBlue3 : #4bb4bf;
$lxsBlue4: #039be5;
$lxsYellow1 : #D6A14c;
$lxsYellow2 : #D69512;
$lxsGreen1 : #92a35f;
$lxsGreen2 : #829944;
$lxslibborderselect: #f2f2f2;
$lxslibselectbackground: #ffffffe6;
$dialogBackground: #212121e6;
$dialogContent: #00000059;
$dialogCloseIcon: #bbbbbb;
$dialogCloseIconOnHover: #777777;
$msgDialogBackground: #00000066;
$listModalHover: #eeeeee;
$toastBlackBgColor: #323232;

$color_lectures : #A91927;
$color_lectures1 : #B5324B;
$color_clicc : #8366AA;
$color_clicc1 : #8C78AA;
$color_prepworks : #839944;
$color_prepworks1 : #93A35F;
$color_caselaw : #4287C2;
$color_caselaw1 : #5D99C3;
$color_eoc : #EC661E;
$color_eoc1 : #EE7441;
$color_eocd : #D69514;
$color_eocd1: #D6A14C;

$color_mopd : #9F4D16;
$color_mopd1 : #B0612B;
$color_anchorTag : #131090;


$fontMicro : 10px;
$fontSmall : 12px;
$fontBody : 14px;
$fontSubheading : 16px;
$fontTitle : 20px;
$fontHeadline : 24px;
$fontDisplay1 : 34px;
$fontDisplay2 : 45px;
$fontDisplay3 : 56px;
$fontDisplay4 : 112px;

$headerHeight : 40px;
$headerSearchHeight: 28px;
$libraryPageTabHeight: 28px;
$readingListTableHeaderHeight: 64px;
$readingListTableTitleBarHeight: 30px;

$fontFamilyBlack : 'Roboto',
sans-serif;
$fontFamilyArial : 'Arial',
sans-serif;
$fontFamilyHalvetica: 'Helvetica', sans-serif;
$fontWeightBold: 600;
$lineHeightSmall: 1.34;
$lineHeightBig: 2.50;
$listPaddingLeft: 1.5em;
$listWhiteSpace: pre-wrap;
$listTypeOrdered: decimal;
$listTypeUnordered: disc;